<div class="container text-left mt-4">
  <h1><%= @restaurant.name %></h1>
  <p><%= @restaurant.address %></p>
  <p><%= @restaurant.category %></p>
  <h3>Reviews</h3>
  <% @restaurant.reviews.each do |review| %>
    <p><%= review.content %> <%= review.rating %></p>
    <hr>
  <% end %>
  <p><%= link_to "+Add a review", new_restaurant_review_path(@restaurant) %></p>
  <i class="far fa-arrow-alt-circle-left pr-1"></i><%= link_to "Back", restaurants_path %>
</div>

